@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    justify-content: space-between;
}

.login-form {
    width: 50%;
    margin-top: 30px;
}

.hero-image {
    height: 100vh;
    width: 45vw;
}

.logo-image {
    position: absolute;
    top: 50%;
    right: 62.5%;
    width: 30%;
    height: 10%;
}

.login-form--header {
    font-size: 2.1rem;
    font-weight: bold;
}

.form--header__login {
    color: #ececee;
    margin-right: 5px;
}

.form--login__vertical-bar,
.form--header___register-link--color a {
    color: #433e54;
}

.form--header___register-link a {
    text-decoration: none;
}



.field-wrapper {
    border-bottom: 2px solid #ececee;
    width: 90%;
    margin: 40px 0;
}

.field-wrapper label {
    font-size: 1.5rem;
    font-weight: bolder;
    width: 100px;
    display: inline-block;
    width: 150px;
}

.field-wrapper input[type="text"], 
.field-wrapper input[type="email"], 
.field-wrapper input[type="password"]{
    border: none;
    outline: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 1rem;
}

.field-wrapper input::placeholder {
    font-weight: 900;
    color: black;
    margin-left: 5rem;
    font-size: 1.1rem;
}


.submit-button {
    padding: 0.5rem 3rem;
    background-image: linear-gradient(#5c5575, #433e54);
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1.5rem;
}

span.register-button {
    text-decoration: none;
    color: #433e54;
    padding-left: 5px;
}




/* sign up form */

.default_form .default_field {
    margin: 0.5rem 0;
}

.default_form label {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.25rem 0;
}

.default_form .required {
    color: rgb(228, 0, 0);
    font-weight: 700;
}

.default_form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 20rem;
}

.default_form input[type="submit"], .default_form button {
    font-size: 1.3rem;
    padding: 0.25rem 1rem;
}

.default_form input[type="text"], 
.default_form input[type="email"], .default_form input[type="password"], 
.default_form input[type="tel"], 
.default_form select {
    font-size: 1.3rem;
    width: 100%;
}

.contentcontainer {
    width: 600px;
}

.contentcontainer {
    padding: 0 10px;
    margin: 0 auto;
}

