@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

.login-form--header .register-button.active {
    color: #929292;
}

.login-form--header .form--header__login:not(.active)  {
    color: #433e54;
}

.main {
    display: flex;
    justify-content: space-between;
}


.login-form {
    width: 50%;
    margin-top: 30px;
    background-color: #fff;
}

.hero-image {
    height: 100%;
    width: 45vw;
    object-fit: cover;
}

.hero-image-sm {
    display: none;
}

.logo-image { 
    position: fixed;
} 

.logo-parent {
    position: absolute;
    top: 45%;
    right: 62.5%;
    width: 30%;
    height: 10%;
}

.login-form--header {
    font-weight: 900;
    margin-left: -1%;
}

h1 {
    font-size: 3.5rem !important;
}

.form--header__login {
    color: #929292;
    margin-right: 5px;
}

.form--login__vertical-bar,
.form--header___register-link--color a {
    color: #433e54;
}

.form--header___register-link a {
    text-decoration: none;
}


.field-wrapper {
    border-bottom: 2px solid #ececee;
    width: 90%;
    margin: 40px 0;
}

.field-wrapper label {
    font-size: 1.4rem;
    font-weight: bolder;
    width: 100px;
    display: inline-block;
    width: 150px;
}

.field-wrapper input[type="text"], 
.field-wrapper input[type="email"], 
.field-wrapper input[type="password"] {
    border: none;
    outline: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 1rem;
}


.submit-button {
    padding: 0.5rem 3rem;
    background-image: linear-gradient(#5c5575, #433e54);
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1.5rem;
}

span.register-button {
    text-decoration: none;
    color: #433e54;
    padding-left: 5px;
}




/* sign up form */
.signup--form__fields {
    margin-top: 40px;
}
 
.field-wrapper-register {
    border-bottom: 2px solid #ececee;
    width: 100%;
}

.field-wrapper-register input,
.field-wrapper-register textarea,
select {
    border: none;
    outline: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 1rem;
    box-shadow: none;
}

 #id_profession {
    padding-right: 20vw;
}

 #id_time_zone {
    padding-right: 12vw;
} 

 #id_province {
    padding-right: 17vw;
} 

 #id_country {
    padding-right: 29vw;
} 

select {
    opacity: 0.7;
}


.default_form .default_field {
    margin: 0.5rem 0;
    margin-bottom: 20px;
}

.default_form label {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.25rem 0;
}

.default_form .required {
    color: rgb(228, 0, 0);
    font-weight: 700;
}

.default_form {
    max-width: 90%;
}

.default_form input[type="submit"] {
    font-size: 1.3rem;
    padding: 0.25rem 1rem;
}

.default_form input[type="text"], 
.default_form input[type="email"],
.default_form input[type="password"], 
.default_form input[type="tel"] {
    width: 50%;
    opacity: 0.7;
}
 
.button {
    display: block;
    margin: 30px 0;
    padding: 7px 50px;
}

select {
    display: inline-block;
    margin-left: 0;
}


/* media query */

@media only screen and (max-width:1024px) {
    h1 {
        font-size: 3rem !important;
    }
}

@media only screen and (max-width:720px) {
    h1 {
        font-size: 2.2rem !important;
    }

    .field-wrapper label,
    .default_form input[type="submit"],
    .default_form label,
    .submit-button {
        font-size: 1.1rem !important;
    }
    
}

@media only screen and (max-width:480px) {
    main {
        background-image: url(../images/logib.jpg);
        display: block;
        width: 100%;
        height:100%;
        flex-direction: column;
    }

    .hero {
        display: none;
    }

    /* .logo-parent {
        top: 1%;
        left: 15%;
        height: 10px !important;
        z-index: 5;
    }

    .logo-image {
        height: 5%;
    } */

    .hero-image-sm {
        display: block;
        z-index: 10 !important;
        height: 50px;
        margin-top: 30px;
    }


    .login-form {
        margin-top: 4% !important;
        /* transform: translate3d(10%, 5%, 0) !important; */
        display: block;
        height: 20% !important;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .125);
        border-radius: 2px;
        margin-top: 5% !important;
        max-width: 80vw;
    } 

    .submit-button {
        display: block;
        text-align: center;
    }
     

    h1 {
        font-size: 1.8rem !important;
    }

    .field-wrapper label,
    .default_form input[type="submit"],
    .default_form label,
    .submit-button  {
        font-size: 0.9rem !important;
    }

    
}

@media only screen and (max-width:360px) {
    h1 {
        font-size: 1.1rem !important;
    }

    .field-wrapper label,
    .default_form input[type="submit"],
    .default_form label,
    .submit-button  {
        font-size: 0.7rem !important;
    }
}





